Repository rwaltr/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

feat: new flux
  k8s/kyz/flux/config/flux-install.yaml
Labels: area/kubernetes

feat: new flux
  k8s/kyz/flux/config/flux-install.yaml
Labels: area/kubernetes

Update talconfig.yaml
  infra/talos/kyz/talconfig.yaml
Labels: none

feat: yo dawg
  infra/dns/.terraform.lock.hcl
  infra/terraform/cloudflare/dns.tf
  infra/terraform/cloudflare/providers.tf
  infra/terraform/tf-cloud/readme.md
Labels: none

Update readme.md
  infra/terraform/tf-cloud/readme.md
Labels: none

feat!: Terraform refactor
  infra/shared/domains.sops.yaml
  infra/shared/networks.yaml
  infra/terraform/cloudflare/.terraform.lock.hcl
  infra/terraform/cloudflare/cloudflare_secrets.sops.yaml
  infra/terraform/cloudflare/dns.tf
  infra/terraform/cloudflare/main.tf
  infra/terraform/cloudflare/providers.tf
  infra/terraform/tf-cloud/.terraform.lock.hcl
  infra/terraform/tf-cloud/main.tf
Labels: none

feat!: Terraform refactor
  infra/terraform/cloudflare/legacy.tf
  infra/terraform/cloudflare/public.tf
Labels: none

talos
  infra/talos/kyz/talconfig.yaml
Labels: none

new assets
  infra/terraform/linode/factorio-obl.pod.yaml
  infra/terraform/linode/linode_secrets.sops.yaml
  infra/terraform/linode/main.tf
  infra/terraform/linode/providers.tf
  infra/terraform/tf-cloud/main.tf
Labels: none

snapshot
  infra/terraform/linode/.terraform.lock.hcl
  infra/terraform/linode/main.tf
Labels: none

stuffnthings
  infra/terraform/linode/main.tf
Labels: none

less stuff
  infra/terraform/cloudflare/public.tf
Labels: none

new versions
  infra/terraform/cloudflare/.terraform.lock.hcl
Labels: none

new versions
  infra/terraform/linode/.terraform.lock.hcl
Labels: none

new versions
  infra/terraform/tf-cloud/.terraform.lock.hcl
Labels: none

New TF Workspace
  infra/terraform/tf-cloud/main.tf
Labels: none

github-provisioner
  infra/terraform/github/.terraform.lock.hcl
  infra/terraform/github/local.tf
  infra/terraform/github/main.tf
  infra/terraform/github/repos.tf
Labels: none

new lock file
  .pre-commit-config.yaml
  infra/terraform/cloudflare/.terraform.lock.hcl
Labels: none

no this is patrick
  README.md
Labels: none

no this is patrick
  README.md
Labels: none

add some lose some
  .github/ISSUE_TEMPLATE/request.md
  .sops.yaml
  infra/terraform/github/.terraform.lock.hcl
  infra/terraform/github/local.tf
  infra/terraform/github/main.tf
  infra/terraform/github/repos.tf
  infra/terraform/tf-cloud/.terraform.lock.hcl
  infra/terraform/tf-cloud/main.tf
Labels: area/github

new domain
  infra/terraform/cloudflare/prof.tf
Labels: none

readded missing items
  infra/terraform/cloudflare/.terraform.lock.hcl
  infra/terraform/cloudflare/prof.tf
  infra/terraform/cloudflare/public.tf
Labels: none

DNS review
  .sops.yaml
  infra/shared/domains.sops.yaml
  infra/terraform/cloudflare/cloudflare_secrets.sops.yaml
  infra/terraform/cloudflare/familylegacy.tf
  infra/terraform/cloudflare/legacy.tf
  infra/terraform/cloudflare/main.tf
  infra/terraform/cloudflare/public.tf
Labels: none

Migadu for prof domain
  infra/terraform/cloudflare/familylegacy.tf
  infra/terraform/cloudflare/prof.tf
Labels: none

Prep for Migadu
  infra/terraform/cloudflare/familylegacy.tf
Labels: none

move to migadu
  infra/terraform/cloudflare/legacy.tf
Labels: none

swap for migadu
  infra/terraform/cloudflare/public.tf
Labels: none

adjusted some things
  infra/terraform/cloudflare/cloudflare_secrets.sops.yaml
  infra/terraform/cloudflare/legacy.tf
Labels: none

remove unused cloud space
  infra/shared/domains.sops.yaml
  infra/terraform/tf-cloud/main.tf
Labels: none

sops rotate
  infra/terraform/cloudflare/cloudflare_secrets.sops.yaml
Labels: none

flakkke
  flake.nix
Labels: none

flake lock
  flake.lock
Labels: none

added packages to nix
  flake.lock
  flake.nix
Labels: none

added backblaze
  infra/terraform/backblaze/.terraform.lock.hcl
  infra/terraform/backblaze/backblaze_secrets.sops.yaml
  infra/terraform/backblaze/main.tf
  infra/terraform/tf-cloud/main.tf
Labels: none

new host, mouse
  flake.nix
  infra/nix/hosts/default.nix
  infra/nix/hosts/mouse/default.nix
  infra/nix/hosts/mouse/hardware-configuration.nix
Labels: none

new host, mouse
  infra/nix/hosts/mouse/default.nix
Labels: none

who needs dns
  infra/nix/hosts/mouse/default.nix
Labels: none

who needs dns
  infra/nix/hosts/mouse/default.nix
Labels: none

who needs dns
  infra/nix/hosts/mouse/default.nix
Labels: none

.github/labeler.yml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
